<style>
.page-container {
    background-color: #f1f1f1;
    padding: 32px;
}

.page {
    margin: 0 auto;
    background-color: white;
    padding: 24px;
    max-width: 680px;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.25);
}
</style>

<div class="page-container" ng-init="redirecionarParaRerservaParceiro()">
    <div class="page">
        <div layout="column" layout-align="center center">
            <h1 style="margin-top: 0px;">Obrigado por visitar o TripFans!</h1> 
            <h2 style="margin-top: 0px;">Você será transferido para o site de reserva escolhido.</h1>
        </h2>        
        <div layout="row" layout-align="center center" layout-padding>
            <div>
                <img alt="TripFans" title="TripFans" src="resources/images/logos/tripfanslogo.png" style="width: 100px;" />
            </div>
            <div style="width: 100px;">
                <md-progress-linear md-mode="indeterminate"></md-progress-linear>
            </div>
            <div>
                <img alt="Expedia" title="Expedia" src="assets/images/parceiros/expedia.png" />
            </div>
        </div>
        
        <p>
            <strong>Aviso:</strong> Operações de crédito e câmbio oriundas de serviços oferecidos por sites de reservas fora do
            Brasil estão sujeitas a impostos e demais encargos, como regulamentado através do decreto 6.306/2007.
        </p>
    </div>
</div>