.map-marker {
    background: url("map-markers-sprite.png");
    background-repeat: no-repeat;
    display: inline-block;
}

.map-marker.inactive {
  background-image: url("map-markers-sprite-disabled.png");
}

.map-marker.inactive:hover {
  background-image: url("map-markers-sprite-hover.png");
}

.map-marker.disabled {
  background-image: url("map-markers-sprite-disabled.png");
}

.map-marker.des-pin{ background-position: 0 0; width: 20px; height: 20px; } 
.map-marker.est-des-fav-ind-pin{ background-position: 0 -21px; width: 18px; height: 24px; } 
.map-marker.est-des-fav-pin{ background-position: 0 -46px; width: 18px; height: 24px; } 
.map-marker.est-des-ind-pin{ background-position: 0 -71px; width: 18px; height: 24px; } 
.map-marker.est-des-pin{ background-position: 0 -96px; width: 18px; height: 24px; } 
.map-marker.est-fav-ind-pin{ background-position: 0 -121px; width: 18px; height: 24px; } 
.map-marker.est-fav-pin{ background-position: 0 -146px; width: 18px; height: 24px; } 
.map-marker.fav-pin{ background-position: 0 -146px; width: 18px; height: 24px; } 
.map-marker.est-ind-pin{ background-position: 0 -171px; width: 18px; height: 24px; } 
.map-marker.ind-pin{ background-position: 0 -171px; width: 18px; height: 24px; } 
.map-marker.est-pin{ background-position: 0 -196px; width: 20px; height: 20px; } 
