.interesse {
    background: url("interesses-sprite.jpg");
    background-repeat: no-repeat;
    display: inline-block;
}

.interesse.inactive:hover {
    filter: none;
    -webkit-filter: none;  
    opacity: .6;
    -moz-opacity: .6;
    filter: alpha(opacity=60);
    -webkit-transition: all .2s ease; /* Fade to color for Chrome and Safari */  
}

.interesse.inactive {
    opacity: .4;
    -moz-opacity: .4;
    filter: alpha(opacity=40);  
    filter: gray; /* IE6-9 */  
   -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */  
   -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */  
   -webkit-backface-visibility: hidden; /* Fix for transition flickering */
}

.interesse.artesCultura {
    background-position: 0 0px; width: 70px; height: 70px;
}

.interesse.aventura {
    background-position: 0 -70px; width: 70px; height: 70px;
}

.interesse.cacaPesca {
    background-position: 0 -140px; width: 70px; height: 70px;
}

.interesse.carnaval {
    background-position: 0 -210px; width: 70px; height: 70px;
}

.interesse.compras {
    background-position: 0 -280px; width: 70px; height: 70px;
}

.interesse.cruzeiros {
    background-position: 0 -350px; width: 70px; height: 70px;
}

.interesse.descansoRelaxamento {
    background-position: 0 -420px; width: 70px; height: 70px;
}

.interesse.ecoturismo {
    background-position: 0 -490px; width: 70px; height: 70px;
}

.interesse.escolar {
    background-position: 0 -560px; width: 70px; height: 70px;
}

.interesse.esportes {
    background-position: 0 -630px; width: 70px; height: 70px;
}

.interesse.estrada {
    background-position: -70px 0; width: 70px; height: 70px;
}

.interesse.eventos {
    background-position: -70px -70px; width: 70px; height: 70px;
}

.interesse.eventosEsportivos {
    background-position: -70px -140px; width: 70px; height: 70px;
}

.interesse.festasTematicas {
    background-position: -70px -210px; width: 70px; height: 70px;
}

.interesse.gastronomia {
    background-position: -70px -280px; width: 70px; height: 70px;
}

.interesse.historia {
    background-position: -70px -350px; width: 70px; height: 70px;
}

.interesse.jogosApostas {
    background-position: -70px -420px; width: 70px; height: 70px;
}

.interesse.mergulho {
    background-position: -70px -490px; width: 70px; height: 70px;
}

.interesse.micaretas {
    background-position: -70px -560px; width: 70px; height: 70px;
}

.interesse.negocios {
    background-position: -70px -630px; width: 70px; height: 70px;
}

.interesse.neve {
    background-position: -140px 0; width: 70px; height: 70px;
}

.interesse.parquesTematicos {
    background-position: -140px -70px; width: 70px; height: 70px;
}

.interesse.praia {
    background-position: -140px -140px; width: 70px; height: 70px;
}

.interesse.religiao {
    background-position: -140px -210px; width: 70px; height: 70px;
}

.interesse.reveillon {
    background-position: -140px -280px; width: 70px; height: 70px;
}

.interesse.romantismo {
    background-position: -140px -350px; width: 70px; height: 70px;
}

.interesse.safari {
    background-position: -140px -420px; width: 70px; height: 70px;
}

.interesse.shows {
    background-position: -140px -490px; width: 70px; height: 70px;
}