.interesse {
    background: url("interesses-sprite.jpg");
    background-repeat: no-repeat;
    display: inline-block;
}

.interesse.artesCultura {
    background-position: 0 0px; width: 70px; height: 70px;
}

.interesse.artesCultura.inactive:hover {
    opacity: .4;
    -moz-opacity: .4;
    filter: alpha(opacity=40);  
}

.interesse.artesCultura.inactive {
    opacity: .4;
    -moz-opacity: .4;
    filter: alpha(opacity=40);  
    filter: gray; /* IE6-9 */  
   -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */  
   -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */  
   -webkit-backface-visibility: hidden; /* Fix for transition flickering */
}

.interesse.aventura {
    background-position: 0 -70px; width: 70px; height: 70px;
}

.interesse.aventura.inactive:hover {
    background-position: -70px -70px; width: 70px; height: 70px;
}

.interesse.aventura.inactive {
    background-position: -140px -70px; width: 70px; height: 70px;
}

.interesse.cacaPesca {
    background-position: 0 -140px; width: 70px; height: 70px;
}

.interesse.cacaPesca.inactive:hover {
    background-position: -70px -140px; width: 70px; height: 70px;
}

.interesse.cacaPesca.inactive {
    background-position: -140px -140px; width: 70px; height: 70px;
}

.interesse.carnaval {
    background-position: 0 -210px; width: 70px; height: 70px;
}

.interesse.carnaval.inactive:hover {
    background-position: -70px -210px; width: 70px; height: 70px;
}

.interesse.carnaval.inactive {
    background-position: -140px -210px; width: 70px; height: 70px;
}

.interesse.compras {
    background-position: 0 -280px; width: 70px; height: 70px;
}

.interesse.compras.inactive:hover {
    background-position: -70px -280px; width: 70px; height: 70px;
}

.interesse.compras.inactive {
    background-position: -140px -280px; width: 70px; height: 70px;
}

.interesse.cruzeiros {
    background-position: 0 -350px; width: 70px; height: 70px;
}

.interesse.cruzeiros.inactive:hover {
    background-position: -70px -350px; width: 70px; height: 70px;
}

.interesse.cruzeiros.inactive {
    background-position: -140px -350px; width: 70px; height: 70px;
}

.interesse.descansoRelaxamento {
    background-position: 0 -420px; width: 70px; height: 70px;
}

.interesse.descansoRelaxamento.inactive:hover {
    background-position: -70px -420px; width: 70px; height: 70px;
}

.interesse.descansoRelaxamento.inactive {
    background-position: -140px -420px; width: 70px; height: 70px;
}

.interesse.ecoturismo {
    background-position: 0 -490px; width: 70px; height: 70px;
}

.interesse.ecoturismo.inactive:hover {
    background-position: -70px -490px; width: 70px; height: 70px;
}

.interesse.ecoturismo.inactive {
    background-position: -140px -490px; width: 70px; height: 70px;
}

.interesse.escolar {
    background-position: 0 -560px; width: 70px; height: 70px;
}

.interesse.escolar.inactive:hover {
    background-position: -70px -560px; width: 70px; height: 70px;
}

.interesse.escolar.inactive {
    background-position: -140px -560px; width: 70px; height: 70px;
}

.interesse.esportes {
    background-position: 0 -630px; width: 70px; height: 70px;
}

.interesse.esportes.inactive:hover {
    background-position: -70px -630px; width: 70px; height: 70px;
}

.interesse.esportes.inactive {
    background-position: -140px -630px; width: 70px; height: 70px;
}

.interesse.estrada {
    background-position: -210px 0; width: 70px; height: 70px;
}

.interesse.estrada.inactive:hover {
    background-position: -280px 0; width: 70px; height: 70px;
}

.interesse.estrada.inactive {
    background-position: -350px 0; width: 70px; height: 70px;
}

.interesse.eventos {
    background-position: -210px -70px; width: 70px; height: 70px;
}

.interesse.eventos.inactive:hover {
    background-position: -280px -70px; width: 70px; height: 70px;
}

.interesse.eventos.inactive {
    background-position: -350px -70px; width: 70px; height: 70px;
}

.interesse.eventosEsportivos {
    background-position: -210px -140px; width: 70px; height: 70px;
}

.interesse.eventosEsportivos.inactive:hover {
    background-position: -280px -140px; width: 70px; height: 70px;
}

.interesse.eventosEsportivos.inactive {
    background-position: -350px -140px; width: 70px; height: 70px;
}

.interesse.festasTematicas {
    background-position: -210px -210px; width: 70px; height: 70px;
}

.interesse.festasTematicas.inactive:hover {
    background-position: -280px -210px; width: 70px; height: 70px;
}

.interesse.festasTematicas.inactive {
    background-position: -350px -210px; width: 70px; height: 70px;
}

.interesse.gastronomia {
    background-position: -210px -280px; width: 70px; height: 70px;
}

.interesse.gastronomia.inactive:hover {
    background-position: -280px -280px; width: 70px; height: 70px;
}

.interesse.gastronomia.inactive {
    background-position: -350px -280px; width: 70px; height: 70px;
}

.interesse.historia {
    background-position: -210px -350px; width: 70px; height: 70px;
}

.interesse.historia.inactive:hover {
    background-position: -280px -350px; width: 70px; height: 70px;
}

.interesse.historia.inactive {
    background-position: -350px -350px; width: 70px; height: 70px;
}

.interesse.jogosApostas {
    background-position: -210px -420px; width: 70px; height: 70px;
}

.interesse.jogosApostas.inactive:hover {
    background-position: -280px -420px; width: 70px; height: 70px;
}

.interesse.jogosApostas.inactive {
    background-position: -350px -420px; width: 70px; height: 70px;
}

.interesse.mergulho {
    background-position: -210px -490px; width: 70px; height: 70px;
}

.interesse.mergulho.inactive:hover {
    background-position: -280px -490px; width: 70px; height: 70px;
}

.interesse.mergulho.inactive {
    background-position: -350px -490px; width: 70px; height: 70px;
}

.interesse.micaretas {
    background-position: -210px -560px; width: 70px; height: 70px;
}

.interesse.micaretas.inactive:hover {
    background-position: -280px -560px; width: 70px; height: 70px;
}

.interesse.micaretas.inactive {
    background-position: -350px -560px; width: 70px; height: 70px;
}

.interesse.negocios {
    background-position: -210px -630px; width: 70px; height: 70px;
}

.interesse.negocios.inactive:hover {
    background-position: -280px -630px; width: 70px; height: 70px;
}

.interesse.negocios.inactive {
    background-position: -350px -630px; width: 70px; height: 70px;
}

.interesse.neve {
    background-position: -420px 0; width: 70px; height: 70px;
}

.interesse.neve.inactive:hover {
    background-position: -490px 0; width: 70px; height: 70px;
}

.interesse.neve.inactive {
    background-position: -560px 0; width: 70px; height: 70px;
}

.interesse.parquesTematicos {
    background-position: -420px -70px; width: 70px; height: 70px;
}

.interesse.parquesTematicos.inactive:hover {
    background-position: -490px -70px; width: 70px; height: 70px;
}

.interesse.parquesTematicos.inactive {
    background-position: -560px -70px; width: 70px; height: 70px;
}

.interesse.praia {
    background-position: -420px -140px; width: 70px; height: 70px;
}

.interesse.praia.inactive:hover {
    background-position: -490px -140px; width: 70px; height: 70px;
}

.interesse.praia.inactive {
    background-position: -560px -140px; width: 70px; height: 70px;
}

.interesse.religiao {
    background-position: -420px -210px; width: 70px; height: 70px;
}

.interesse.religiao.inactive:hover {
    background-position: -490px -210px; width: 70px; height: 70px;
}

.interesse.religiao.inactive {
    background-position: -560px -210px; width: 70px; height: 70px;
}

.interesse.reveillon {
    background-position: -420px -280px; width: 70px; height: 70px;
}

.interesse.reveillon.inactive:hover {
    background-position: -490px -280px; width: 70px; height: 70px;
}

.interesse.reveillon.inactive {
    background-position: -560px -280px; width: 70px; height: 70px;
}

.interesse.romantismo {
    background-position: -420px -350px; width: 70px; height: 70px;
}

.interesse.romantismo.inactive:hover {
    background-position: -490px -350px; width: 70px; height: 70px;
}

.interesse.romantismo.inactive {
    background-position: -560px -350px; width: 70px; height: 70px;
}

.interesse.safari {
    background-position: -420px -420px; width: 70px; height: 70px;
}

.interesse.safari.inactive:hover {
    background-position: -490px -420px; width: 70px; height: 70px;
}

.interesse.safari.inactive {
    background-position: -560px -420px; width: 70px; height: 70px;
}

.interesse.shows {
    background-position: -420px -490px; width: 70px; height: 70px;
}

.interesse.shows.inactive:hover {
    background-position: -490px -490px; width: 70px; height: 70px;
}

.interesse.shows.inactive {
    background-position: -560px -490px; width: 70px; height: 70px;
}