body {
    /*font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;*/
    /*font-family: 'Yanone Kaffeesatz';*/
    font-size: 14px;
    /*Opções do Google Fonts: Slabo 27px, Source Sans Pro, Dosis, Yanone Kaffeesatz, Abel, Comfortaa, Economica, Amaranth, Patrick Hand, Antic, Bubblegum Sans, Neucha, Baumans, Happy Monkey, Federo, Maiden Orange, Oregano */
    font-style: normal;
    font-weight: 300;
    line-height: 1.9rem;
    letter-spacing: 0.01rem;
    color: #444;
    /*background-color: #f5f5f5;*/
    -webkit-font-smoothing: antialiased;
}

a {
    color: #1E95CA;
    text-decoration: none;
}

a:hover, a:active, a:focus {
    text-decoration: none;
    color: #1C7AA2;
}

.widget-tooltip {
    cursor: help;
    border-bottom: 1px dotted;
}

.navbar-brand {
	float: left;
	padding: 0px;
	font-size: 18px;
	line-height: 20px;
}

@media (max-width: 767px) {
	.topnavbar {
	    background: rgb(60,175,226); 
	    background: -moz-radial-gradient(top, ellipse cover,  rgba(60,175,226,1) 0%, rgba(167,223,248,1) 100%); 
	    background: -webkit-gradient(radial, top center, 0px, center center, 100%, color-stop(0%,rgba(60,175,226,1)), color-stop(100%,rgba(167,223,248,1))); 
	    background: -webkit-radial-gradient(top, ellipse cover,  rgba(60,175,226,1) 0%,rgba(167,223,248,1) 100%); 
	    background: -o-radial-gradient(top, ellipse cover,  rgba(60,175,226,1) 0%,rgba(167,223,248,1) 100%); 
	    background: -ms-radial-gradient(top, ellipse cover,  rgba(60,175,226,1) 0%,rgba(167,223,248,1) 100%); 
	    background: radial-gradient(top, ellipse cover,  rgba(60,175,226,1) 0%,rgba(167,223,248,1) 100%); 
	    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#3cafe2', endColorstr='#a7dff8'); 
	    -ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#3cafe2', endColorstr='#a7dff8')";     
	}
}

@media (min-width: 768px) {
    .topnavbar {
        min-height: 70px;
        background: rgb(60,175,226); 
        background: -moz-radial-gradient(top, ellipse cover,  rgba(60,175,226,1) 0%, rgba(167,223,248,1) 100%); 
        background: -webkit-gradient(radial, top center, 0px, center center, 100%, color-stop(0%,rgba(60,175,226,1)), color-stop(100%,rgba(167,223,248,1))); 
        background: -webkit-radial-gradient(top, ellipse cover,  rgba(60,175,226,1) 0%,rgba(167,223,248,1) 100%); 
        background: -o-radial-gradient(top, ellipse cover,  rgba(60,175,226,1) 0%,rgba(167,223,248,1) 100%); 
        background: -ms-radial-gradient(top, ellipse cover,  rgba(60,175,226,1) 0%,rgba(167,223,248,1) 100%); 
        background: radial-gradient(top, ellipse cover,  rgba(60,175,226,1) 0%,rgba(167,223,248,1) 100%); 
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#3cafe2', endColorstr='#a7dff8'); 
        -ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#3cafe2', endColorstr='#a7dff8')";     
    }
}

@media (min-width: 768px) {
    .navbar-header-tripfans {
        width: 16%;
    }
    .navbar-header-img-logo {
        width: 100%;
        padding-top: 16px!important;
    }
}
@media (min-width: 992px) {
    .navbar-header-img-logo {
        padding-top: 9px!important;
    }
}
@media (min-width: 1200px) {
    .navbar-header-img-logo {
        padding-top: 3px!important;
    }
}

@font-face {
    font-family: 'social';
    src: url('../fonts/Socialico.ttf');
}

a.footer-social-icon {
    font-family: 'social';
    color: white;
    font-size: 40px;
    text-decoration: none;
}

a.footer-social-icon.facebook:hover {
	color: #385591;
}

a.footer-social-icon.twitter:hover {
    color: #A8DBF8;
}

a.footer-social-icon.google:hover {
    color: #e74b32;
}

a.footer-social-icon.foursquare:hover {
    color: #6EE3FC;
}

a.footer-social-icon.youtube:hover {
    color: #AA3C3C;
}

a.footer-social-icon.pinterest:hover {
    color: #cc0001;
}

.blackAndWhite {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -o-filter: grayscale(100%);
}

.colorful {
    filter: none;
    -webkit-filter: none; /* Chrome 19+ & Safari 6+ */
    opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity=100);   
}

.blackAndWhite.active {
    filter: none;
    -webkit-filter: none; /* Chrome 19+ & Safari 6+ */
    opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity=100);   
}

.blackAndWhite.selected {
    filter: none;
    -webkit-filter: none; /* Chrome 19+ & Safari 6+ */
    opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity=100);   
}

.colorOnHover:hover {
	filter: none;
   -webkit-filter: none; /* Chrome 19+ & Safari 6+ */
   /*-webkit-transition: all 0.8s linear;-moz-transition: all 0.8s linear;transition: all 0.8s linear*/
}

.colorOnHoverNoOpacity:hover {
    filter: none;
   -webkit-filter: none; /* Chrome 19+ & Safari 6+ */
    opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity=100);
    /*-webkit-transition: all 0.8s linear;-moz-transition: all 0.8s linear;transition: all 0.8s linear*/
}

.transparencia-25 {
	opacity:0.25;
    -moz-opacity: 0.25;
    filter: alpha(opacity=25);
}

.transparencia-50 {
    opacity:0.50;
    -moz-opacity: 0.50;
    filter: alpha(opacity=50);
}

.transparencia-75 {
    opacity:0.75;
    -moz-opacity: 0.75;
    filter: alpha(opacity=75);
}