/*-----------------------------------------------------------------------------

REVOLUTION RESPONSIVE BASIC STYLES OF HTML DOCUMENT

Screen Stylesheet

version:   	1.0
date:      	26/06/12
author:		themepunch
email:     	support@themepunch.com
website:   	http://www.themepunch.com
-----------------------------------------------------------------------------*/


.showbiz-container				{	max-width:1210px; min-width:300px; overflow:hidden;
									padding:0px 20px;margin:0px auto 50px;
									box-sizing:border-box;
									-moz-box-sizing:border-box;
									-webkit-box-sizing:border-box;
								}

.showbiz-container.darkbg		{	padding:20px;
									background:#d5d5d5;
									max-width:1170px;
								}

.showbiz-container.whitebg		{	padding:20px; padding-top:0px;
									background:#fff;
									max-width:1170px;
									-webkit-box-shadow: 0px 0px 5px 1px rgba(100,100,100,0.1);
									-moz-box-shadow: 0px 0px 5px 1px rgba(100,100,100,0.1);
									box-shadow: 0px 0px 5px 1px rgba(100,100,100,0.1);
									overflow:visible
								}


.showbiz-container.retrodarkbg	{	padding:20px;padding-top:0px;
									background:#222;
									border:1px solid #1e1e1e;
									max-width:1170px;
									overflow:visible
								}

.showbiz-container.fullwidth			{	max-width:100%;}
.showbiz-container.fullwidth.nopaddings	{	padding:0px;}
.sameheight								{	height:400px;}







/***** SOME STYLE FOR PREVIEW, CAN BE REMOVED !! ******/


.showbiz-container	{	z-index:10; position: relative;}

.divide5			{	width:100%;height:5px;}
.divide10			{	width:100%;height:10px;}
.divide15			{	width:100%;height:15px;}
.divide20			{	width:100%;height:20px;}
.divide30			{	width:100%;height:30px;}

.halfcontainer		{	width:50%; float:left; box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box; }
.leftfloat			{	float:left}
.clear				{	clear:both}
.rm10				{	margin-right:10px;}


p.small				{	font-family: 'Open Sans', sans-serif; font-size:12px; color:#777; line-height:25px; text-align: left}

p.small a,
p.small a:visited,
p.small a:hover		{	color:#000; text-decoration:none; font-size:13px; font-weight:700;}


/* THE DEMO */

.style-title		{	font-size:30px; font-weight: 800; font-family: 'Open Sans', sans-serif; color:#555; line-height:30px;text-align: center; position: relative; z-index:5;}
.style-title p		{	font-size:14px;}

@media only screen and  (max-width: 620px) {
		.halfcontainer	{	float:none; width:100%}
}
