/* -----------------------------------------------------------------------


 Blueprint CSS Framework 1.0.1
 http://blueprintcss.org

   * Copyright (c) 2007-Present. See LICENSE for more info.
   * See README for instructions on how to use Blueprint.
   * For credits and origins, see AUTHORS.
   * This is a compressed file. See the sources in the 'src' directory.

----------------------------------------------------------------------- */

/* reset.css */
html {margin:0;padding:0;border:0;}
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure, dialog, footer, header, hgroup, menu, nav, section {display:block;}
body {line-height:1.5;background:white;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;float:none !important;}
table, th, td {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:'';}
blockquote, q {quotes:"" "";}
a img {border:none;}
:focus {outline:0;}

/* typography.css */
html {font-size:100.01%;}
body {font-size:75%;color:#222;background:#fff;font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;}
h1, h2, h3, h4, h5, h6 {font-weight:normal;color:#111;}
h1 {font-size:3em;line-height:1;margin-bottom:0.5em;}
h2 {font-size:2em;margin-bottom:0.75em;}
h3 {font-size:1.5em;line-height:1;margin-bottom:1em;}
h4 {font-size:1.2em;line-height:1.25;margin-bottom:1.25em;}
h5 {font-size:1em;font-weight:bold;margin-bottom:1.5em;}
h6 {font-size:1em;font-weight:bold;}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin:0;}
p {margin:0 0 1.5em;}
.left {float:left !important;}
p .left {margin:1.5em 1.5em 1.5em 0;padding:0;}
.right {float:right !important;}
p .right {margin:1.5em 0 1.5em 1.5em;padding:0;}
a:focus, a:hover {color:#09f;}
a {color:#06c;text-decoration:underline;}
blockquote {margin:1.5em;color:#666;font-style:italic;}
strong, dfn {font-weight:bold;}
em, dfn {font-style:italic;}
sup, sub {line-height:0;}
abbr, acronym {border-bottom:1px dotted #666;}
address {margin:0 0 1.5em;font-style:italic;}
del {color:#666;}
pre {margin:1.5em 0;white-space:pre;}
pre, code, tt {font:1em 'andale mono', 'lucida console', monospace;line-height:1.5;}
li ul, li ol {margin:0;}
ul, ol {margin:0 1.5em 1.5em 0;padding-left:1.5em;}
ul {list-style-type:disc;}
ol {list-style-type:decimal;}
dl {margin:0 0 1.5em 0;}
dl dt {font-weight:bold;}
dd {margin-left:1.5em;}
table {margin-bottom:1.4em;width:100%;}
th {font-weight:bold;}
thead th {background:#c3d9ff;}
th, td, caption {padding:4px 10px 4px 5px;}
tbody tr:nth-child(even) td, tbody tr.even td {background:#e5ecf9;}
tfoot {font-style:italic;}
caption {background:#eee;}
.small {font-size:.9em;margin-bottom:1.875em;line-height:1.875em;}
.large {font-size:1.2em;margin-bottom:1.25em;}
.hide {display:none;}
.show {display:block;}
.quiet {color:#666;}
.loud {color:#000;}
.highlight {background:#ff0;}
.added {background:#060;color:#fff;}
.removed {background:#900;color:#fff;}
.first {margin-left:0;padding-left:0;}
.last {margin-right:0;padding-right:0;}
.top {margin-top:0;padding-top:0;}
.bottom {margin-bottom:0;padding-bottom:0;}

/* forms.css */
label {font-weight:bold;}
fieldset {padding:0 1.4em 1.4em 1.4em;margin:0 0 1.5em 0;border:1px solid #ccc;}
legend {font-weight:bold;font-size:1.2em;margin-top:-0.2em;margin-bottom:1em;}
fieldset, #IE8#HACK {padding-top:1.4em;}
legend, #IE8#HACK {margin-top:0;margin-bottom:0;}
input[type=text], input[type=password], input[type=url], input[type=email], input.text, input.title, textarea {background-color:#fff;border:1px solid #bbb;}
/* Foi modificado de #666 para orange */
input[type=text]:focus, input[type=password]:focus, input[type=url]:focus, input[type=email]:focus, input.text:focus, input.title:focus, textarea:focus {border-color:orange;}
select {background-color:#fff;border-width:1px;border-style:solid;}
input[type=text], input[type=password], input[type=url], input[type=email], input.text, input.title, textarea, select {margin:0.5em 0;}
input.text, input.title {width:500px;padding:5px;}
input.title {font-size:1.5em;}
#textarea {width:450px;height:200px;padding:5px;}
textarea {padding:5px;}
form.inline {line-height:3;}
form.inline p {margin-bottom:0;}
.error, .alert, .notice, .success, .info {margin-left: 2px;margin-bottom:1em;border:2px solid #ddd; padding: 5px;}
.error, .alert {background:#fbe3e4;color:#8a1f11;border-color:#fbc2c4;}
.notice {background:#fff6bf;color:#514721;border-color:#ffd324;}
.success {background:#e6efc2;color:#264409;border-color:#c6d880;}
.info {background:#d5edf8;color:#205791;border-color:#92cae4;}
.error a, .alert a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}
.info a {color:#205791;}

/* grid.css */
.container{width:1000px;margin:0 auto}.showgrid{background:url(src/grid.png)}.column,div.span-1,div.span-2,div.span-3,div.span-4,div.span-5,div.span-6,div.span-7,div.span-8,div.span-9,div.span-10,div.span-11,div.span-12,div.span-13,div.span-14,div.span-15,div.span-16,div.span-17,div.span-18,div.span-19,div.span-20,div.span-21,div.span-22,div.span-23,div.span-24{float:left;margin-right:8px}.last,div.last{margin-right:0}.span-1{width:34px}.span-2{width:76px}.span-3{width:118px}.span-4{width:160px}.span-5{width:202px}.span-6{width:244px}.span-7{width:286px}.span-8{width:328px}.span-9{width:370px}.span-10{width:412px}.span-11{width:454px}.span-12{width:496px}.span-13{width:538px}.span-14{width:580px}.span-15{width:622px}.span-16{width:664px}.span-17{width:706px}.span-18{width:748px}.span-19{width:790px}.span-20{width:832px}.span-21{width:874px}.span-22{width:916px}.span-23{width:958px}.span-24,div.span-24{width:1000px;margin:0}input.span-1,textarea.span-1,input.span-2,textarea.span-2,input.span-3,textarea.span-3,input.span-4,textarea.span-4,input.span-5,textarea.span-5,input.span-6,textarea.span-6,input.span-7,textarea.span-7,input.span-8,textarea.span-8,input.span-9,textarea.span-9,input.span-10,textarea.span-10,input.span-11,textarea.span-11,input.span-12,textarea.span-12,input.span-13,textarea.span-13,input.span-14,textarea.span-14,input.span-15,textarea.span-15,input.span-16,textarea.span-16,input.span-17,textarea.span-17,input.span-18,textarea.span-18,input.span-19,textarea.span-19,input.span-20,textarea.span-20,input.span-21,textarea.span-21,input.span-22,textarea.span-22,input.span-23,textarea.span-23,input.span-24,textarea.span-24{border-left-width:1px!important;border-right-width:1px!important;padding-left:5px!important;padding-right:5px!important}input.span-1,textarea.span-1{width:22px!important}input.span-2,textarea.span-2{width:64px!important}input.span-3,textarea.span-3{width:106px!important}input.span-4,textarea.span-4{width:148px!important}input.span-5,textarea.span-5{width:190px!important}input.span-6,textarea.span-6{width:232px!important}input.span-7,textarea.span-7{width:274px!important}input.span-8,textarea.span-8{width:316px!important}input.span-9,textarea.span-9{width:358px!important}input.span-10,textarea.span-10{width:400px!important}input.span-11,textarea.span-11{width:442px!important}input.span-12,textarea.span-12{width:484px!important}input.span-13,textarea.span-13{width:526px!important}input.span-14,textarea.span-14{width:568px!important}input.span-15,textarea.span-15{width:610px!important}input.span-16,textarea.span-16{width:652px!important}input.span-17,textarea.span-17{width:694px!important}input.span-18,textarea.span-18{width:736px!important}input.span-19,textarea.span-19{width:778px!important}input.span-20,textarea.span-20{width:820px!important}input.span-21,textarea.span-21{width:862px!important}input.span-22,textarea.span-22{width:904px!important}input.span-23,textarea.span-23{width:946px!important}input.span-24,textarea.span-24{width:988px!important}.append-1{padding-right:42px}.append-2{padding-right:84px}.append-3{padding-right:126px}.append-4{padding-right:168px}.append-5{padding-right:210px}.append-6{padding-right:252px}.append-7{padding-right:294px}.append-8{padding-right:336px}.append-9{padding-right:378px}.append-10{padding-right:420px}.append-11{padding-right:462px}.append-12{padding-right:504px}.append-13{padding-right:546px}.append-14{padding-right:588px}.append-15{padding-right:630px}.append-16{padding-right:672px}.append-17{padding-right:714px}.append-18{padding-right:756px}.append-19{padding-right:798px}.append-20{padding-right:840px}.append-21{padding-right:882px}.append-22{padding-right:924px}.append-23{padding-right:966px}.prepend-1{padding-left:42px}.prepend-2{padding-left:84px}.prepend-3{padding-left:126px}.prepend-4{padding-left:168px}.prepend-5{padding-left:210px}.prepend-6{padding-left:252px}.prepend-7{padding-left:294px}.prepend-8{padding-left:336px}.prepend-9{padding-left:378px}.prepend-10{padding-left:420px}.prepend-11{padding-left:462px}.prepend-12{padding-left:504px}.prepend-13{padding-left:546px}.prepend-14{padding-left:588px}.prepend-15{padding-left:630px}.prepend-16{padding-left:672px}.prepend-17{padding-left:714px}.prepend-18{padding-left:756px}.prepend-19{padding-left:798px}.prepend-20{padding-left:840px}.prepend-21{padding-left:882px}.prepend-22{padding-left:924px}.prepend-23{padding-left:966px}div.border{padding-right:4px;margin-right:5px;border-right:1px solid #eee}div.colborder{padding-right:24px;margin-right:25px;border-right:1px solid #eee}.pull-1{margin-left:-42px}.pull-2{margin-left:-84px}.pull-3{margin-left:-126px}.pull-4{margin-left:-168px}.pull-5{margin-left:-210px}.pull-6{margin-left:-252px}.pull-7{margin-left:-294px}.pull-8{margin-left:-336px}.pull-9{margin-left:-378px}.pull-10{margin-left:-420px}.pull-11{margin-left:-462px}.pull-12{margin-left:-504px}.pull-13{margin-left:-546px}.pull-14{margin-left:-588px}.pull-15{margin-left:-630px}.pull-16{margin-left:-672px}.pull-17{margin-left:-714px}.pull-18{margin-left:-756px}.pull-19{margin-left:-798px}.pull-20{margin-left:-840px}.pull-21{margin-left:-882px}.pull-22{margin-left:-924px}.pull-23{margin-left:-966px}.pull-24{margin-left:-1008px}.pull-1,.pull-2,.pull-3,.pull-4,.pull-5,.pull-6,.pull-7,.pull-8,.pull-9,.pull-10,.pull-11,.pull-12,.pull-13,.pull-14,.pull-15,.pull-16,.pull-17,.pull-18,.pull-19,.pull-20,.pull-21,.pull-22,.pull-23,.pull-24{float:left;position:relative}.push-1{margin:-42px 1.5em 42px}.push-2{margin:-84px 1.5em 84px}.push-3{margin:-126px 1.5em 126px}.push-4{margin:-168px 1.5em 168px}.push-5{margin:-210px 1.5em 210px}.push-6{margin:-252px 1.5em 252px}.push-7{margin:-294px 1.5em 294px}.push-8{margin:-336px 1.5em 336px}.push-9{margin:-378px 1.5em 378px}.push-10{margin:-420px 1.5em 420px}.push-11{margin:-462px 1.5em 462px}.push-12{margin:-504px 1.5em 504px}.push-13{margin:-546px 1.5em 546px}.push-14{margin:-588px 1.5em 588px}.push-15{margin:-630px 1.5em 630px}.push-16{margin:-672px 1.5em 672px}.push-17{margin:-714px 1.5em 714px}.push-18{margin:-756px 1.5em 756px}.push-19{margin:-798px 1.5em 798px}.push-20{margin:-840px 1.5em 840px}.push-21{margin:-882px 1.5em 882px}.push-22{margin:-924px 1.5em 924px}.push-23{margin:-966px 1.5em 966px}.push-24{margin:-1008px 1.5em 1008px}.push-1,.push-2,.push-3,.push-4,.push-5,.push-6,.push-7,.push-8,.push-9,.push-10,.push-11,.push-12,.push-13,.push-14,.push-15,.push-16,.push-17,.push-18,.push-19,.push-20,.push-21,.push-22,.push-23,.push-24{float:right;position:relative}.prepend-top{margin-top:1.5em}.append-bottom{margin-bottom:1.5em}.box{padding:1;margin-bottom:1.5em;background:#e5ecf9}hr{background:#ddd;color:#ddd;clear:both;float:none;width:100%;height:.1em;margin:0 0 1.45em;border:none}hr.space{background:#fff;color:#fff}.clearfix:after,.container:after{content:"\0020";display:block;height:0;clear:both;visibility:hidden;overflow:hidden}.clearfix,.container{display:block}.clear{clear:both}.left{float:left}.right{float:right}