    <link href="wro/home.css?minimize=false" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="resources/components/showbizpro/css/style.css" media="screen">
	<link rel="stylesheet" type="text/css" href="resources/components/showbizpro/css/settings.css" media="screen">
    
    <style>
    
    body {
        color: #465b6e;
    }
    
    .md-chips {
        padding: 0 0 0 10px;
    }
    
    md-chips md-chips-wrap {
        /*display: block;*/
        display: inline-table!important;
        width: 100%;
        height: 45px;
        padding: 10px 15px;
        font-size: 15px;
        line-height: 1.42857143;
        color: #2c3e50;
        background-color: #ffffff;
        background-image: none;
        border: 2px solid #dce4ec;
        border-radius: 4px;
        webkit-box-shadow: 0px;
        box-shadow: 0px
    }
    
    md-chips.md-default-theme, md-chips .md-chips {
        box-shadow: initial;
    }
    
    md-chips.md-default-theme .md-chips.md-focused, md-chips .md-chips.md-focused {
        box-shadow:initial;
        border-color: #2c3e50;
        outline: 0;
    }
    
    md-chips md-chip {
        margin: 4px 8px 4px 0!important;
    }
    
    .md-chips .md-chip-input-container {
        margin: 4px 8px 0 0!important;
        min-width: 50%;
    }
    
    md-autocomplete input:not(.md-input) {
        font-size: 16px;
    }
    
    .input-lg {
        font-size: 16px;
    }
    
    .partners {
        padding-top: 10px;
        padding-bottom: 20px;
    }
    
    .bg-gray {
        background-color: #eef2f5;
        border-bottom: 1px solid #e9e9e9;
        border-top: 1px solid #e9e9e9;
    }    
    
    .thumb {
        background-color: #eef2f5;
        border-radius: 50%;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        margin-top: 5px;
    }
    
    .autocomplete-custom li {
        border-bottom: 1px solid #ccc;
        height: auto;
        padding-top: 1px;
        padding-bottom: 1px;
        white-space: normal; 
    }
    
    .autocomplete-custom li:last-child {
        border-bottom-width: 0;
    }
    
    .item-icon md-icon {
        font-size: 22px;
        color: #1E95CA;
    }
    
    .item-title {
        display: block;
        line-height: 1.4;
        padding-top: 6px;
        white-space: nowrap; 
    }
    
    .item-metadata {
        display: block;
        line-height: 1;
        font-size: 0.9em;
        color: #777;
        white-space: nowrap; 
    }
    
    .item-title md-icon {
        height: 18px;
        width: 18px; 
    }

    </style>
	
    <div>

    	<div class="jumbotron" style="color: #fff; padding: 0; margin-bottom: 0px;">
    		<div id="poster"
    			style="padding-left:15px; padding-right: 15px; background: no-repeat; 
    			-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
    
    			<div style="text-align: center; padding: 10% 0; margin: auto;">
    				<h3>
    					<span style="color: white; font-size: 36px; text-shadow: 1px 1px 6px #555; font-weight: 600;">
                            Reserve o seu hotel e receba dinheiro de volta!
    					</span>
                        <br/>
    				</h3>
    				<div>
                        <p>
        					<span style="font-size: 18px; color: white; font-weight: 300; text-shadow: 1px 1px 6px #555;">
                                Encontre o seu Hotel com o melhor preço e ainda receba de volta parte do valor da sua reserva em dinheiro diretamente em sua conta bancária.    
                            </span>
        					<!-- div class="row" style="text-align: center; margin-top: 15px;">
        						<p>
        							<a href="/viagem/planejamento/criar?showMsgRoteiro=true" class="btn btn-lg btn-warning" style="font-weight: bold; text-transform: uppercase;"> 
                                        Quero criar meu roteiro	agora! 
                                    </a>
        						</p>
        					</div-->
                        </p>
    				</div>
                    
                    <div class="row search-box">
                        <form ng-submit="homeCtrl.criarViagem()" name="formCriarViagem">
                        
                            <div class="row" style="margin-top: 5px;">
                        
                                <div class="col-md-8 col-sm-8 search-input">
                                    <!-- input type="text" class="form-control input-lg search-first" placeholder="Para onde você deseja ir?"-->
                                    
                                    <md-chips ng-model="homeCtrl.destinosSelecionados" 
                                              md-autocomplete-snap md-require-match="true"
                                              placeholder="Para onde mais?"
                                              delete-button-label="Remover Destino"
                                              delete-hint="Pressione 'delete' para remover"
                                              secondary-placeholder="Para onde você deseja ir?">
                                        
                                        <md-autocomplete
                                              md-selected-item="homeCtrl.destinoSelecionado"
                                              md-search-text="homeCtrl.textoBusca"
                                              md-items="destino in homeCtrl.consultarDestinos(homeCtrl.textoBusca)"
                                              placeholder="Para onde você deseja ir?"
                                              md-item-text="destino.nomeCompletoIngles"
                                              md-autofocus="true"
                                              md-menu-class="autocomplete-custom">
                                              
                                              <md-item-template>
                                                <div layout="row">
                                                    <div style="width: 28px;" class="item-icon">
                                                        <md-icon class="mdi mdi-map-marker"></md-icon>
                                                    </div>
                                                    <div>
                                                        <span class="item-title">
                                                            <strong>
                                                                <span md-highlight-text="homeCtrl.textoBusca">{{destino.nomeCompletoIngles}}</span>
                                                            </strong>
                                                        </span>
                                                        <span class="item-metadata">
                                                            {{destino.nomeCompletoIngles}}
                                                        </span>
                                                    </div>
                                                </div>
                                            </md-item-template>
                                        </md-autocomplete>
                                              
                                        <md-chip-template>
                                            <strong>{{$chip.nomeIngles}}</strong>
                                            <!--select style="background-color: #F5F5F5; color:#555;">
                                                <option>1 dia</option>
                                                <option>2 dias</option>
                                                <option>3 dias</option>
                                            </select-->
                                        </md-chip-template>
                                    </md-chips>
                                    
                                </div>
                                
                                <div class="col-md-4 col-sm-4 search-input">
                                    <input type="text" date-range-picker id="daterange" name="daterange" 
                                           ng-model="homeCtrl.periodoSelecionado" options="homeCtrl.daterangeOptions" 
                                           class="form-control date-picker" placeholder="Quando?" required />
                                    
                                    <input type="hidden" name="dataInicio" ng-model="homeCtrl.dataInicio" />
                                    <input type="hidden" name="dataFim" ng-model="homeCtrl.dataFim" />
                                </div>
                            
                            </div>
                            
                            <div class="row" style="margin-top: 15px; margin-bottom: 5px;">
                                <div class="col-md-4 col-sm-4">
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <input type="submit" class="btn btn-info btn-block" value="Começar" />
                                </div>
                            </div>
                            
                        </form>
                    </div>
                    
    			</div>
                
    		</div>
    	</div>
        
        <section class="partners bg-gray">
            <div class="container">
              <div class="row text-center">
                <div class="col-sm-12">
                    <h3 style="margin-top: 0px; margin-bottom: 20px;">Sites parceiros</h3>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        <a href="#">
                            <img class="blackAndWhite colorOnHoverNoOpacity transparencia-75" src="assets/images/parceiros/booking.png">
                        </a>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <a href="#">
                            <img class="blackAndWhite colorOnHoverNoOpacity transparencia-75" src="assets/images/parceiros/hoteis.png">
                        </a>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <a href="#">
                            <img class="blackAndWhite colorOnHoverNoOpacity transparencia-75" src="assets/images/parceiros/expedia.png">
                        </a>
                    </div>
                </div>
              </div>
            </div>
        </section>

        <section>
            <div class="container">
              <div class="row text-center rounded-layout">
                <div class="title text-center">
                    <span class="title-1 ti-txt44 ti-f300 ti-color5">
                        <h1>Como funciona?</h1>
                    </span>
                </div>
                <div class="ti-margin-t30"> </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="main-box-round">
                        <div class="img-circle round-text round-text-t20 co1">
                            <h2 style="color: #0182C7;">1</h2>
                            <h3 style="margin-top: 0px">Encontre seu hotel</h3>
                        </div>
                        <img src="assets/images/hotel-search.jpg" class="thumb img-circle" alt="" style="width: 230px; height: 230px; margin: auto;">
                        <div>
                            <span><h4>Faça uma pesquisa utilizando nosso sistema de busca e encontre seu hotel com o melhor preço nos melhores sites de reservas.</h4></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="main-box-round">
                        <div class="img-circle round-text round-text-t20 co1">
                            <h2 style="color: #0182C7;">2</h2>
                            <h3 style="margin-top: 0px">Reserve</h3>
                        </div>
                        <img src="assets/images/hotel-booking.jpg" class="thumb img-circle" alt="" style="width: 230px; height: 230px;">
                        <div>
                            <span><h4>Ao reservar seu hotel através do nosso site, nós recebemos uma comissão e dividimos a grana com com você!</h4></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="main-box-round">
                        <div class="img-circle round-text round-text-t20 co1">
                            <h2 style="color: #0182C7;">3</h2>
                            <h3 style="margin-top: 0px">Receba</h3>
                        </div>
                        <img src="assets/images/cash-back.png" class="thumb img-circle" alt="" style="width: 230px; height: 230px;">
                        <div>
                            <span><h4>Cadastre-se para receber o seu dinheiro diretamente em sua conta corrente. O cadastro é simples e rápido.</h4></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="main-box-round">
                        <div class="img-circle round-text round-text-t20 co1">
                            <h2 style="color: #0182C7;">4</h2>
                            <h3 style="margin-top: 0px">Convide e ganhe mais</h3>
                        </div>
                        <img src="assets/images/more-cash.jpg" class="thumb img-circle" alt="" style="width: 230px; height: 230px;">
                        <div>
                            <span><h4>Convide seus amigos para reservar conosco e aumente ainda mais o percentual de sua comissão.</h4></span>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>
        
        <section>
        
    		<div class="row" style="margin-top: 20px;">
                
                <hr style="color: rgba(0, 0, 0, 0.1); border-top: 1px solid; margin-left: 10%; margin-right: 10%">
                
    			<div style="margin: auto; text-align: center;">
    				<a href="/viagem/planejamento/criar?showMsgRoteiro=true" class="btn btn-lg btn-warning" style="font-weight: bold; text-transform: uppercase;">
                        Quero encontrar meu Hotel agora!
    				</a>
    			</div>
    		</div>
    
    		<!-- div class="row" style="margin-top: 40px; background-color: #fff;">
    			<div style="text-align: center; padding-top: 10px;">
    				<div class="col-md-12" style="padding-left: 0; text-align: center;">
    					<h3 style="text-shadow: none; padding-bottom: 15px;">
    						<span style="color: #0981d1; font-size: 32px; font-weight: bold;"> Roteiros em destaque </span> <br />
    					</h3>
    				</div>
    			</div>
    		</div-->
    
    		<div class="row" style="margin: auto; margin-top: 40px; margin-bottom: 30px; text-align: center;">
    			<h3 style="text-shadow: none; padding-bottom: 15px;">
    				<span style="color: #0981d1; font-size: 32px; font-weight: bold;">
                        Conecte-se ao <img src="resources/images/logos/tripfans-t.png"/> no Facebook
    				</span>
    			</h3>
    			<div class="fb-like-box" data-href="https://www.facebook.com/TripFansBR" data-width="640" data-height="300" data-colorscheme="light" data-show-faces="true" 
    				 data-header="false" data-stream="false" data-show-border="false"></div>
    		</div>
            
        <section>
    
    	</div>
    </div>
    
    <script type="text/javascript" src="wro/home.js?minimize=false"></script>
    <script type="text/javascript" src="resources/components/showbizpro/js/jquery.themepunch.showbizpro.min.js"></script>

	<script type="text/javascript">
        $(document).ready(function() {
            
        	setBackground();

            $('#btn-criar-conta').click(function(e) {
	            e.preventDefault();
	            $('#modal-login-body').load('/cadastrar', function() {
		            $('#modal-login').modal('show');
	            });
            });
	            
            montarCarrossel();

            $(document).on('click', '.conteudoRoteiro', function(e) {
	            e.preventDefault();
	            var urlRoteiro = $(this).data('urlroteiro');
	            window.location.href = urlRoteiro;
            });
            
            /*$('input[name="daterange"]').daterangepicker({
                autoApply: true,
                autoUpdateInput: true,
                minDate: new Date(),
                locale: {
                    format: 'DD/MM/YYYY',
                    separator: ' - ',
                    applyLabel: 'OK',
                    cancelLabel: 'Cancelar',
                    fromLabel: 'De',
                    toLabel: 'até',
                    //customRangeLabel: 'Custom',
                    daysOfWeek: [
                        'D',
                        'S',
                        'T',
                        'Q',
                        'Q',
                        'S',
                        'S'
                    ],
                    monthNames: [
                        'Janeiro',
                        'Fevereiro',
                        'Março',
                        'Abril',
                        'Maio',
                        'Junho',
                        'Julho',
                        'Agosto',
                        'Setembro',
                        'Outubro',
                        'Novembro',
                        'Dezembro'
                    ],
                    'firstDay': 1
            	}
            });
            
            $('input[name="daterange"]').on('apply.daterangepicker', function(ev, picker) {
                var startDate = picker.startDate;
                var endDate = picker.endDate;
            	$('input[name="daterange"]').val(startDate.format('DD/MM/YYYY') + ' a ' + endDate.format('DD/MM/YYYY'));
            	$('input[name="dataInicio"]').val(startDate.format('DD-MM-YYYY'));
            	$('input[name="dataFim"]').val(endDate.format('DD-MM-YYYY'));
          	});*/

        })

        function setBackground() {
            var imgs = [
                {url: 'resources/images/home/image001.jpg', position: '50% 80%'},
                {url: 'resources/images/home/image002.jpg', position: '50% 90%'},
                {url: 'resources/images/home/image003.jpg', position: '50% 75%'},
                {url: 'resources/images/home/image004.jpg', position: '50% 75%'},
                {url: 'resources/images/home/image005.jpg', position: '50% 90%'},
                {url: 'resources/images/home/image006.jpg', position: '50% 49%'},
                {url: 'resources/images/home/image007.jpg', position: '50% 65%'},
                {url: 'resources/images/home/image008.jpg', position: '50% 30%'},
                {url: 'resources/images/home/image009.jpg', position: '50% 55%'},
                {url: 'resources/images/home/image010.jpg', position: '50% 80%'},
                {url: 'resources/images/home/image011.jpg', position: '50% 45%'},
                {url: 'resources/images/home/image012.jpg', position: '50% 75%'},
                {url: 'resources/images/home/image013.jpg', position: '50% 80%'},
            ];
            
            var index = Math.floor((Math.random() * 100 % imgs.length));
            
            $('#poster').css('background-image', 'url("' + imgs[index].url + '")').css('background-position', imgs[index].position);
        }
        
        function scrollToTop() {
            $('html, body').animate({
	            scrollTop : 0
            }, 'slow');
        }

        function montarCarrossel() {
        	jQuery('#roteiros-container').showbizpro(
               {
                   dragAndScroll: 'on',
                   slideAmount : 3, 
                   visibleElementsArray : [ 3, 2, 2, 1 ], 
                   mediaMaxHeight : [ 0, 0, 0, 0 ], 
                   carousel : 'on', 
                   entrySizeOffset : 0,
                   autoPlay : 'on', 
                   delay : 5000, 
                   speed : 300, 
                   rewindFromEnd : 'on'
               }
            );
        }
	</script>