<%@tag pageEncoding="UTF-8"%>

<%@ tag body-content="empty" %> 
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>

  <a href="#" class="btn btn-mini btn-warning" title="Adicione esse local aos seus favoritos" id="btnFavorito">
       <i class="icon-star icon-white"></i>
       <b>Local Favorito</b>
 </a>