.body {
	padding-top: 40px;
	background-color: #e2fafe;
}

.footer-content h1, h2, h3, h4, h5, h6 {
    font-family: 'PT Sans Narrow', sans-serif;
    color: #707070;
    margin: 0;
    /*font-weight: bold;*/
    text-rendering: optimizelegibility;
}

.container-fluid {
    padding: 3px
}

.navbar-toggle {
    padding-top: 0px;
    padding-bottom: 0px;
}

.navbar-header a.mmenu-right {
	height: 25px;
}

.header-right-menu {
	padding: 0px;
}

.popover {
    min-width: 100%;
    top: 42px;
    z-index: 1199;
}

.popover .wrap {
	background: white;
	border: none;
	min-width: 100%;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.popover .arrow, .popover .top-arrow {
    left: initial;
	right: 119px;
	border-bottom: 10px solid #eee;
	margin: -19px 0 0 -3px;
}

.popover.bottom .arrow {
	top: 8px;
}

#menu-left {
    margin-top: 42px;
}

.mm-menu {
    margin-top: 40px;
}

html.mm-opened body {
    margin-top: 0px;
}

html.mm-opened header {
    position: fixed;
}

html.mm-opened footer {
	display: none;
}

html.mm-opened div.mm-page {
	margin-top: 0px;
}

.mm-menu.mm-hasheader > .mm-panel.mm-list {
	padding-top: 10px;
}

a.mmenu-left {
    -webkit-transition: none 0.4s ease;
    -moz-transition: none 0.4s ease;
    -ms-transition: none 0.4s ease;
    -o-transition: none 0.4s ease;
    transition: none 0.4s ease;
    -webkit-transition-property: margin;
    -moz-transition-property: margin;
    -ms-transition-property: margin;
    -o-transition-property: margin;
    transition-property: margin;
	margin-left: -35px;
}

html.mm-opening.mm-left header a.mmenu-left {
	margin-left: -38px;
}

.notificacao {
    background-color: #FFFFFF;
}

.notificacao-inner {
    padding-top: 6px; 
    padding-bottom: 6px; 
    min-height: 64px;
}

.thumbnail {
    margin-bottom: 4px;
}

.notificacao:hover {
    background-color: #F1F1F1;
}

.notificacao.pendente {
    background-color: #e0edf4;
}

.notificacao.pendente:hover {
    background-color: #cbe6f3;
}