.body {
    padding-top: 70px; 
    background-position: center 70px; background-attachment: fixed; 
    background-repeat: no-repeat; background-color: #e2fafe;
}

.footer {
	width: 100%; 
	background-repeat: no-repeat; 
	background-position: center 1px;
}

.footer-content {
    position: relative; 
    min-height: 100%; 
    padding: 14px 14px 20px; 
    margin: 0 auto; 
}

.footer-content h1, h2, h3, h4, h5, h6 {
    font-family: 'PT Sans Narrow', sans-serif;
    color: #707070;
    margin: 0;
    /*font-weight: bold;*/
    text-rendering: optimizelegibility;
}

.container-fluid {
    padding: 15px 14px 30px;
}

.main-navbar .navbar-form {
	padding-top: 10px;
}

#left-menu {
	background-color: rgb(240, 244, 245);
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

#left-menu.affix {
	position: fixed;
	width: 194px;
}

.affix-top {
}
	
.affix-bottom {
    position: absolute;
    width: 194px;
}

.left-menu-container {
	padding-right: 0px;
    padding-left: 0px;
}

.left-menu-container .nav > li > a {
    color: #A3A3A3;
}

.left-menu-container .nav > li.active > a {
	color: #0088CC;
	font-weight: bold;
}

.left-menu-container .nav > li > a:hover {
    color: #0088CC;
}

.left-menu-container .nav > li > a:hover, .left-menu-container .nav > li > a:focus {
	text-decoration: none;
	background-color: #eeeeee;
	
}

.notificacao {
    background-color: #FFFFFF;
}

.notificacao-inner {
    padding-top: 6px; 
    padding-bottom: 6px; 
    min-height: 64px;
}

.notificacao:hover {
    background-color: #F1F1F1;
}

.notificacao.pendente {
    background-color: #e0edf4;
}

.notificacao.pendente:hover {
    background-color: #cbe6f3;
}