@CHARSET "UTF-8";

#fotos {
    display: block;
    background-color: #E5EDFF;
	border: 1px solid #BFE4FF;
    height: 110px;
    padding: 10px;
    margin-bottom: 5px !important;
    border-radius: 5px 5px 5px 5px;
}

.tituloLocal {
	color: #006699;
	font-weight: bold;
	font-size: 1.9em;
}

.descricaoLocal {
	font-size: 13px;
	padding: 10px;
}

div#botoesLocal {
	float: right;
	padding: 10px;
	margin-right: 45px;
}

div#botoesLocal button, div#botoesLocal button:hover {
	height: 25px;
	margin-right: 15px;
	border-bottom-color: none;
	color: #FFF;
	padding: 5px;
}

button.jaFui {
	background: #83C1DB;
	filter: #83C1DB; /* IE */
}

button.jaFui:hover {
	background: #0066FF;
	filter: #0066FF; /* IE */	
}

button.pretendoIr {
	background: #B5D359;
	filter: #B5D359; /* IE */
}

button.pretendoIr:hover {
	background: #009900;
	filter: #009900; /* IE */
}

button.moroAqui {
	background: #CF9898;
	filter: #CF9898; /* IE */
}

button.moroAqui:hover {
	background: #d00000;
	filter: #d00000; /* IE */
}

.jaFui {
	color: #0066FF;
}

.pretendoIr {
	color: #009900;
}

.moroAqui {
	color: #d00000;
}

div#estatisticasViagens {
	margin-top: 25px;
	position: relative;
}

div#estatisticasViagens ul {
	list-style-type: none;
}

div#estatisticasViagens li {
	float: left;
	padding-right: 15 px;
	font-size: 1.0 em;
}

div#estatisticasViagens p {
	font-weight: bold;
	font-size: 1.3 em;
	display: block;
	margin: 0;
}

div#hoteis, div#restaurantes {
	border: 1px solid #BFE4FF;
	margin-top: 20px;
}

div.descricaoEndereco {
	font-size: 12px;
}

