.content-box {
    padding: 8px 6px 0px;
    min-height: 520px;
}

.footer-box {
    color: white;
    font-weight: normal;
    font-size: 11px;
    padding: 8px 6px 6px;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

/* Subnav */

.subnav {
    width: 96%;
    height: 36px;
    padding-left: 30px;
    background-color: #EEE;
    background-repeat: repeat-x;
    background-image: -moz-linear-gradient(top, whiteSmoke 0%, #EEE 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,whiteSmoke), color-stop(100%,#EEE));
    background-image: -webkit-linear-gradient(top, whiteSmoke 0%,#EEE 100%);
    background-image: -ms-linear-gradient(top, whiteSmoke 0%,#EEE 100%);
    background-image: -o-linear-gradient(top, whiteSmoke 0%,#EEE 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#eeeeee',GradientType=0 );
    background-image: linear-gradient(top, whiteSmoke 0%,#EEE 100%);
    border: 1px solid #E5E5E5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.subnav .nav {
    margin-bottom: 0;
}
.subnav .nav > li > a {
    margin: 0;
    padding-top: 11px;
    padding-bottom: 11px;
    border-left: 1px solid #f5f5f5;
    border-right: 1px solid #e5e5e5;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.subnav .nav > .active > a,
.subnav .nav > .active > a:hover {
    padding-left: 13px;
    color: #777;
    background-color: #e9e9e9;
    border-right-color: #ddd;
    border-left: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
}
.subnav .nav > .active > a .caret,
.subnav .nav > .active > a:hover .caret {
    border-top-color: #777;
}
.subnav .nav > li:first-child > a,
.subnav .nav > li:first-child > a:hover {
    border-left: 0;
    padding-left: 12px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}
.subnav .nav > li:last-child > a {
    border-right: 0;
}
.subnav .dropdown-menu {
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}
/* Fixed subnav on scroll, but only for 980px and up (sorry IE!) */
@media (min-width: 980px) {
    .subnav-fixed {
        position: fixed;
        top: 70px;
        left: 0;
        right: 0;
        padding-left: 230px;
        z-index: 1020; /* 10 less than .navbar-fixed to prevent any overlap */
        border-color: #d5d5d5;
        border-width: 0 0 1px; /* drop the border on the fixed edges */
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        -webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
        -moz-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
        box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
        filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); /* IE6-9 */
    }
    .subnav-fixed .nav {
        width: 938px;
        margin: 0 auto;
        padding: 0 1px;
    }
    .subnav .nav > li:first-child > a,
    .subnav .nav > li:first-child > a:hover {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }
}

@media (max-width: 768px) {
    /* Remove any padding from the body */

    /* Subnav */
    .subnav {
        position: static;
        top: auto;
        z-index: auto;
        width: auto;
        height: auto;
        background: #fff; /* whole background property since we use a background-image for gradient */
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    .subnav .nav > li {
        float: none;
    }
    .subnav .nav > li > a {
        border: 0;
    }
    .subnav .nav > li + li > a {
        border-top: 1px solid #e5e5e5;
    }
    .subnav .nav > li:first-child > a,
    .subnav .nav > li:first-child > a:hover {
        -webkit-border-radius: 4px 4px 0 0;
        -moz-border-radius: 4px 4px 0 0;
        border-radius: 4px 4px 0 0;
    }

}

@media (max-width: 980px) {
    /* Unfloat brand */
    .navbar-fixed-top .brand {
        float: left;
        margin-left: 0;
        padding-left: 10px;
        padding-right: 10px;
    }
}

/* LARGE DESKTOP SCREENS */
@media (min-width: 1210px) {
    /* Update subnav container */
    .subnav-fixed .nav {
        width: 1168px; /* 2px less to account for left/right borders being removed when in fixed mode */
    }
}

.card {
    padding: 0px; 
    margin: 2px; 
    background-color: #ffffff;
}

.card:hover {
    background-color: #f8f8f8;
}

.card-content:hover {
    cursor: pointer;
}

.card.card-selected {
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

#footer .left {
    float: left;
    padding: 35px 0;
    width: 226px;
}

#footer .middle {
    float: left;
    height: 348px;
    padding: 52px 0 0 48px;
    width: 468px;
}

footer .middle, #footer .right {
    position: relative;
}

#footer-content .middle::before, #footer-content .right::before {
    background: url('../images/sepadador-vertical.png') no-repeat;
    content: "";
    height: 245px;
    /*left: 0;*/
    position: absolute;
    top: 112px;
    width: 7px;
}

#footer-content .section {
    font-family: 'PT Sans Narrow', sans-serif;
    text-shadow: black 1px 1px 0px;
    /*padding-top: 30px;*/
    color: white;
}

#footer-content .section ul {
    margin-right: 0px;
}

#footer-content .section .title {
    /*font: 20px 'Open Sans Condensed', sans-serif;*/
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-bottom: 15px;
}

#top-button {
    background: url('../images/toparrow-bg.png');
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    width: 40px;
    height: 40px;
    z-index: 9999;
    position: fixed;
    bottom: 70px;
    right: 30px;
    cursor: pointer;
    display: none;
}

#top-button-arrow {
    background: url('../images/toparrow.png') no-repeat 12px 12px;
    width: 40px;
    height: 40px;
}

.copyright {
    background-color: #232323;
    border-bottom: 1px solid #151515;
    height: 95px;
    margin-top: 2px;
    min-width: 984px;
    padding-top: 35px;
}

div.topbar img {
    display: inline-block;
    vertical-align: middle;
    height: 20px;
    margin-top: -4px;
    margin-right: 6px;
    border: none;
    cursor: pointer;
    border-image: initial;
}

.topnavbar {
    /*outra cor para segunda opcao: 106,201,243 */
    background: rgb(60,175,226); /* Old browsers */
    background: -moz-radial-gradient(top, ellipse cover,  rgba(60,175,226,1) 0%, rgba(167,223,248,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, top center, 0px, center center, 100%, color-stop(0%,rgba(60,175,226,1)), color-stop(100%,rgba(167,223,248,1))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(top, ellipse cover,  rgba(60,175,226,1) 0%,rgba(167,223,248,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(top, ellipse cover,  rgba(60,175,226,1) 0%,rgba(167,223,248,1) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(top, ellipse cover,  rgba(60,175,226,1) 0%,rgba(167,223,248,1) 100%); /* IE10+ */
    background: radial-gradient(top, ellipse cover,  rgba(60,175,226,1) 0%,rgba(167,223,248,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#3cafe2', endColorstr='#a7dff8'); /* IE6 & IE7 */
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#3cafe2', endColorstr='#a7dff8')"; /* IE8 */    
}

a.main-menu-item {
    color: white !important;
    text-shadow: #4D4D4D 1px 1px 0px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 16px;
}