.widget-resumo-viagem {
    margin: 100px;
    width: 300px;
}

.widget-resumo-viagem h2 {
    font-size: 16px;
    margin: 0 0 20px 0;
}

.mode {
    border: 1px solid gray;
    padding: 20px;
    margin: 10px;
    background-color: #EFEFEF;
}

.pager {
    padding: 10px 10px 10px 0;
    clear: both;
}

.active, .inativo {
    color: gray;
}

.widget-resumo-viagem ul {
    margin: 0;
    white-space: nowrap;
    padding: 0;
    list-style: none;
    margin: 0 0 9px 0px;
}

.widget-resumo-viagem div .titulo {
    border-top: 1px solid #DDD;
	border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
    background: white;
    display: block;
    overflow: hidden;
    padding: 13px 0 12px 14px;
    font-size: 16px;
    font-weight: bold;
}

.widget-resumo-viagem .titulo-categoria {
	background-color: #F8F8F8;
	border-color: #DDD #DDD	transparent;
	border-style: solid solid none;
	border-width: 1px 1px 0;
	cursor: pointer;
	display: block;
	overflow: hidden;
	padding: 13px 0 12px 14px;
	word-wrap: break-word;
}

.widget-resumo-viagem .itens-categoria div.navcontainer-vertical {
    border-left: 1px solid #DDD;
}

.widget-resumo-viagem .itens-categoria ul.itens-dia {
	background: none repeat scroll 0 0 #F0F0F0; 
	border-left: 1px solid #DDD;
	border-right: 1px solid #DDD;
	position: relative;
}

.widget-resumo-viagem .itens-categoria ul.itens-dia div.data {
	float: left;
	padding-top: 10px;
	text-align: center;
	width: 35px;
}

.widget-resumo-viagem .itens-categoria ul.itens {
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
    float: right;
    width: 258px;
    background: white;
}

.widget-resumo-viagem .itens-categoria li.item {
	padding: 8px 0;
	margin: 0 12px;
	height: auto;
	clear: both;
	border-top: 1px dotted #CCC;
	overflow: hidden;
}

.widget-resumo-viagem .itens-categoria li.item div.conteudo {
    border-bottom: 0;
    float: left;
    //padding: 12px 0;
    position: static;
    width: 235px;
    height: 68px;
}

.widget-resumo-viagem .itens-categoria li.item div.conteudo div.foto {
	float: left;
	margin-right: 10px;
	width: 90px;
}

.widget-resumo-viagem .active a:link, .widget-resumo-viagem .active a:visited, .widget-resumo-viagem .active a:hover {
    border: 1px solid #333;
    background-color: #FF6600;
    color: #333;
}

.widget-resumo-viagem .widget-resumo-viagem-botao-topo a,.widget-resumo-viagem .widget-resumo-viagem-botao-rodape a
{
    display: block;
    height: 29px;
    background-image:
        url('../images/sprite_scroll.gif');
    outline: none;
    border-bottom: none;
    text-indent: -9999px        
}

.widget-resumo-viagem .widget-resumo-viagem-botao-topo a {
    background-position: 0 0;
    position: relative;
    z-index: 10
}

.widget-resumo-viagem .widget-resumo-viagem-botao-topo a:visited {
    background-position: 0 0
}

.widget-resumo-viagem .widget-resumo-viagem-botao-topo a:hover {
    background-position: 0 -29px
}

.widget-resumo-viagem .widget-resumo-viagem-botao-topo a:active {
    background-position: 0 -58px
}

.widget-resumo-viagem .widget-resumo-viagem-botao-topo a.inativo,.widget-resumo-viagem .widget-resumo-viagem-botao-topo .inativo:hover
    {
    background-position: 0 -87px;
    cursor: default
}

.widget-resumo-viagem .widget-resumo-viagem-botao-rodape a {
    background-position: -300px 0
}

.widget-resumo-viagem .widget-resumo-viagem-botao-rodape a:visited {
    background-position: -300px 0
}

.widget-resumo-viagem .widget-resumo-viagem-botao-rodape a:hover {
    background-position: -300px -29px
}

.widget-resumo-viagem .widget-resumo-viagem-botao-rodape a:active {
    background-position: -300px -58px
}

.widget-resumo-viagem .widget-resumo-viagem-botao-rodape a.inativo,.widget-resumo-viagem .widget-resumo-viagem-botao-rodape .inativo:hover
    {
    background-position: -300px -87px;
    cursor: default
}