.widget-resumo-viagem {
    width: 322px;
}

.widget-resumo-viagem h2 {
    font-size: 16px;
    margin: 0 0 20px 0;
}

.widget-resumo-viagem ul {
    list-style: none;
    margin: 0 0 9px 0px;
}

.widget-resumo-viagem div .titulo {
    border-top: 1px solid #DDD;
	border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
    background: white;
    display: block;
    overflow: hidden;
    padding: 13px 0 12px 14px;
    font-size: 16px;
    font-weight: bold;
}

.widget-resumo-viagem .titulo-categoria {
	background-color: #F8F8F8;
	border-color: #DDD #DDD	transparent;
	border-style: solid solid none;
	border-width: 1px 1px 0;
	cursor: pointer;
	display: block;
	overflow: hidden;
	padding: 13px 0 12px 14px;
	word-wrap: break-word;
}

.widget-resumo-viagem div.vertical-carousel-container {
    background-color: #FFFFFF;
}

.widget-resumo-viagem div.box-data, .widget-resumo-viagem div.box-data a {
    width: 39px; 
    background-color: #EFEFEF; 
    text-align: center; 
    font-variant: small-caps; 
    color: #555555;
}

.widget-resumo-viagem div.box-data a {
	color: #555555;
}

.widget-resumo-viagem div.over {
    background-color: #08C; 
    color: #338811; 
}

.widget-resumo-viagem div.box-data a:hover>div.mes {
    background-color: #08C; 
    color: #FFFFFF; 
}

.widget-resumo-viagem div.active>div.mes {
    background-color: #08C; 
    color: #FFFFFF; 
}

.widget-resumo-viagem div.box-data div.mes {
    background-color: #535353; 
    color: #FFFFFF; 
    width: 100%;
}

.widget-resumo-viagem div.box-data div.dia {
    font-size: 15px; 
    font-weight: bold;
}

.widget-resumo-viagem div.box-data a:hover>div.dia, .widget-resumo-viagem div.box-data a:hover>div.diaSemana {
    background-color: #D9EDF7; 
    color: #08C; 
}

.widget-resumo-viagem div.vertical-carousel-container ul.itens {
	background: none repeat scroll 0 0 #FFFFFF; 
	border-left: 1px solid #DDD;
	border-right: 1px solid #DDD;
	position: relative;
}

.widget-resumo-viagem div.vertical-carousel-container ul.itens div.data {
	float: left;
	padding-top: 10px;
	text-align: center;
	width: 35px;
}

.widget-resumo-viagem ul.vertical-carousel-list {
    //float: right;
    //width: 258px;
    background: white;
}

.widget-resumo-viagem ul.vertical-carousel-list li.item {
	padding: 8px 0;
	margin: 0 12px;
	height: auto;
	clear: both;
	border-top: 1px dotted #CCC;
	overflow: hidden;
}

.widget-resumo-viagem ul.vertical-carousel-list li.item div.conteudo {
    border-bottom: 0;
    float: left;
    //padding: 12px 0;
    position: static;
    width: 255px;
    height: 68px;
    display:inline-block;
}

.widget-resumo-viagem ul.vertical-carousel-list li.item div.conteudo div.foto {
	float: left;
	margin-right: 10px;
	display: inline-block;
	width: 90px;
}

.widget-resumo-viagem ul.vertical-carousel-list li.item div.conteudo div.texto {
	width: 136px;
	display: inline-block;
}

.widget-resumo-viagem ul.vertical-carousel-list li.item div.conteudo div.acoes {
    float: right;
    display:inline-block;
    width: 15px;
}

.widget-resumo-viagem .widget-resumo-viagem-botao-topo a,.widget-resumo-viagem .widget-resumo-viagem-botao-rodape a
{
    display: block;
    height: 29px;
    background-image:
        url('../images/sprite-scroll-280.png');
    outline: none;
    border-bottom: none;
    text-indent: -9999px        
}

.widget-resumo-viagem .widget-resumo-viagem-botao-topo a {
    background-position: 0 0;
    position: relative;
    z-index: 10
}

.widget-resumo-viagem .widget-resumo-viagem-botao-topo a:visited {
    background-position: 0 0
}

.widget-resumo-viagem .widget-resumo-viagem-botao-topo a:hover {
    background-position: 0 -29px
}

.widget-resumo-viagem .widget-resumo-viagem-botao-topo a:active {
    background-position: 0 -58px
}

.widget-resumo-viagem .widget-resumo-viagem-botao-topo a.inativo,.widget-resumo-viagem .widget-resumo-viagem-botao-topo .inativo:hover
    {
    background-position: 0 -87px;
    cursor: default
}

.widget-resumo-viagem .widget-resumo-viagem-botao-rodape a {
    background-position: -280px 0
}

.widget-resumo-viagem .widget-resumo-viagem-botao-rodape a:visited {
    background-position: -280px 0
}

.widget-resumo-viagem .widget-resumo-viagem-botao-rodape a:hover {
    background-position: -280px -29px
}

.widget-resumo-viagem .widget-resumo-viagem-botao-rodape a:active {
    background-position: -280px -58px
}

.widget-resumo-viagem .widget-resumo-viagem-botao-rodape a.inativo,.widget-resumo-viagem .widget-resumo-viagem-botao-rodape .inativo:hover
    {
    background-position: -280px -87px;
    cursor: default
}

/**
 * Botoes pequenos
 */

.widget-resumo-viagem .widget-resumo-viagem-botao-topo-small a,.widget-resumo-viagem .widget-resumo-viagem-botao-rodape-small a
{
    display: block;
    height: 29px;
    background-image:
        url('../images/sprite-scroll-40.png');
    outline: none;
    border-bottom: none;
    text-indent: -9999px        
}

.widget-resumo-viagem .widget-resumo-viagem-botao-topo-small a {
    background-position: 0 0;
    position: relative;
    z-index: 10
}

.widget-resumo-viagem .widget-resumo-viagem-botao-topo-small a:visited {
    background-position: 0 0
}

.widget-resumo-viagem .widget-resumo-viagem-botao-topo-small a:hover {
    background-position: 0 -29px
}

.widget-resumo-viagem .widget-resumo-viagem-botao-topo-small a:active {
    background-position: 0 -58px
}

.widget-resumo-viagem .widget-resumo-viagem-botao-topo-small a.inativo,.widget-resumo-viagem .widget-resumo-viagem-botao-topo-small .inativo:hover
    {
    background-position: 0 -87px;
    cursor: default
}

.widget-resumo-viagem .widget-resumo-viagem-botao-rodape-small a {
    background-position: -40px 0
}

.widget-resumo-viagem .widget-resumo-viagem-botao-rodape-small a:visited {
    background-position: -40px 0
}

.widget-resumo-viagem .widget-resumo-viagem-botao-rodape-small a:hover {
    background-position: -40px -29px
}

.widget-resumo-viagem .widget-resumo-viagem-botao-rodape-small a:active {
    background-position: -40px -58px
}

.widget-resumo-viagem .widget-resumo-viagem-botao-rodape-small a.inativo,.widget-resumo-viagem .widget-resumo-viagem-botao-rodape-small .inativo:hover
    {
    background-position: -40px -87px;
    cursor: default
}