
.wizard-step-title {
	background-color: #f5f5f5; 
	border-bottom: 1px solid #DDD; 
	padding: 5px 20px 5px; 
}

.wizard-step-buttons {
	margin-top: 0px; 
	margin-bottom: 0px; 
	text-transform: uppercase; 
	font-weight: bold; 
}

.wizard-step-content {
	background-color:#FFF; padding: 20px;
}

#ul-destinos { 
    list-style-type: none; 
    margin: 0; 
    padding: 0;
    cursor: pointer;
}
#ul-destinos li { 
    margin: 3px 3px 3px 0; 
    padding: 1px; 
    float: left; 
    width: 100px; 
    height: 120px; 
    text-align: center; 
}
.city-header {
   border: 1px solid #E78F08;
   background: #F6A828;
   color: white;
   font-size: 0.70em;
   height: 35px;
   border-image: initial;
}     